body {
    background-color: white;
    font-family: Arial, sans-serif;
}


@media only screen and (max-width: 768px) {
   
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 20px;
}

.card {
   
}

.newsletter {
    margin-top: 20px;
}

.comments {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links img {
    height: 30px;
}
